# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Tell GitHub to display tabs as 4 spaces instead of 8 for files
[*.*]
indent_style = tab
indent_size = 4
